.profile__edit-button {
  width: 10px;
  height: 10px;
  padding: 6px;
  border: 1px solid #FFFFFF;
  align-self: flex-end;
  transition: opacity 0.3s;
  margin-bottom: 8px;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 768px) {
  .profile__edit-button {
    width: 7.5px;
    height: 7.5px;
    padding: 4.25px;
    margin-bottom: 6px;
  }
}