.header {
  width: calc(100% - 400px);
  display: flex;
  flex-direction: column;
  padding-top: 45px;
}

@media (min-width: 1280px) {
  .header {
    width: 880px;
  }
}

@media (max-width: 1084px) {
  .header {
    width: calc(100% - 100px);
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 28px;
    width: 100%;
  }
}