.profile__add-button {
  width: 22px;
  height: 22px;
  padding: 12px 62px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .profile__add-button {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 600px) {
  .profile__add-button {
    flex-grow: 1;
  }
}