.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 0;
  margin-left: 36px;
  margin-top: 34px;
  align-self: flex-start;
}

.popup_type_card .popup__container .popup__title {
  color: white;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin: 10px 0 0;
}

@media (max-width: 570px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin-top: 25px;
    margin-left: 0;
    align-self: center;
  }

  .popup_type_card .popup__container .popup__title {
    font-size: 12px;
    line-height: 15px;
    margin: 10px 0 0;
    align-self: flex-start;
  }
}